/*
Author:      Zachary Thomas
Created:     2/21/2022
Modified:    2/21/2022
-----------------------------------------------------------------
*/

.confirm-top-level-backdrop {
  z-index: 1055 !important;
}