/*
Author:      Zachary Thomas
Created:     2/2/2022
Modified:    2/2/2022
-----------------------------------------------------------------
*/

.page-title {
  color: var(--page-title);
  text-align: center;
  font-weight: 600;
  font-size: 3.5rem;
}