/*
Author:      Zachary Thomas
Created:     2/2/2022
Modified:    2/2/2022
-----------------------------------------------------------------
*/

.simple-card {
  background-color: var(--background-close);
  border-color: var(--border);
  border-width: 1px;
  border-radius: 0.25rem;
  border-style: solid;
}