/*
Author:      Zachary Thomas
Created:     2/2/2022
Modified:    2/2/2022
-----------------------------------------------------------------
*/

.general-footer {
  background-color: var(--primary-background);
  color: var(--title);
}