/*
Author:      Zachary Thomas
Created:     2/11/2022
Modified:    2/11/2022
-----------------------------------------------------------------
*/

.photo {
  border: 2px solid var(--border-muted);
  border-radius: 4px;
  text-align: center;

  .photo-image {
    overflow: hidden;
    margin: 2rem 0;
    width: auto;
    height: 200px;
    border-radius: 30px;
  }

  .title {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-content);
  }
}